header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* BUTTONS */
.header__buttons {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* SOCIALS */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after{
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* IMAGE */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 18rem; 
  height: 18rem; 
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  overflow: hidden;
  border-radius: 50%; 
  margin-top: 6rem;
}

.me img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

/* SCROLL DOWN */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-size: 0.9rem;
}

/* TABLETS (MEDIUM VIEWPORTS) */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* MOBILE (SMALL VIEWPORTS) */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials, .scroll__down {
    display: none;
  }
}


